*{
    font-family: "Roboto", sans-serif;
}
.grid{
    display: grid;
    grid-template-areas:
    "nav  main"
    "nav  main";
    grid-template-rows:40% auto;
    background-color: #f6feff;
    color: #00444d;
}
nav{
    grid-area: nav;
    z-index: 1;
    overflow-x: hidden;
    padding-left: 20px;
    width: 350px;
    position: fixed;
    height: 700px;
}
.background{
   background-image: url("https://i.pinimg.com/564x/16/7c/4c/167c4c77ef3654f1a661b51ee8805b75.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 5%;
    /*clip-path: polygon(0% 0%, 100% 0%, 115% 100%, 100% 100%, 0% 100% );*/
    /*clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);*/

}
.navTop {
    padding-top: 30px;
    padding-bottom: 25px;
}
.navTop h4{
  color: deeppink;
}
.myimg{
    width: 160px;
    border-radius: 50%;
    padding-bottom: 15px;
    margin-left: 30px;
}
.navMid h5{
    display: flex;
    padding-top: 10px;
}
.navBottom{
    margin-top: 50px;
    margin-left: -43px;
}
.navBottom li {
    list-style: none;
    display: inline;
    padding-left: 5px;
}
main{
    grid-area: main;
    font-size: 28px;
    width: 700px;
    margin-top: 60px;
}
.port h6{
    padding-top: 25px;
}
big{
    font-weight: bolder;
}
.partone{
    color:#7fa6ac ;
    font-size: 20px;
}
.portfolio {
    display: grid;
    grid-template-rows: 230px auto;
}
.portfolio2{
    display: grid;
    grid-template-columns: 100px auto;
}
.line {
    width: 912px;
    height: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
h6 , h5{
    line-height: 200%;
}
.projectsimg{
    width: 320px;
    height: 200px;
}
.project_cards{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.card{
    margin-bottom: 30px;
    margin-top: 30px;
}
.btn{
    margin-left: 25px;
}
.card-title{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
/*---------------------*/
.myoffer{
    margin-left: 30px;
    font-size: .5em;
    height: auto;
}
.myoffer h5{
    color: deeppink;
    margin-top: 28px;
    margin-bottom: 10px;
}
.myoffer p{
   margin-bottom: 30px;
    font-size: 1.1rem;
}
 h2 {
    font-size: 1.4em;
    margin-bottom: 50px;
}
.contact{
     height: 1000px;
 }
.jumbotron{
    margin-left:50px;
    padding: 50px ;
    width: 900px;
    background-color: white;

}
.resumeTop{
    text-align: center;
}
.lineTwo {
    width: 770px;
    height: 47px;
    border-bottom: 1px solid black;

}
.resumeBottom > h4{
    text-decoration: underline;
    color: deeppink;
    padding-top: 30px;
}
.resumeBottom > p{
   font-size: .6em;
}
.resumeBottom > ul li{
   font-size: .6em;
}
.resumeBottom  h5{
   margin-bottom: -10px;
    font-weight: bolder ;
}
.edu{
    padding-top: 20px;
    padding-bottom: 40px;
}
.edu li{
    line-height: 200%;

}
a{
    color: deeppink;
}
















